body{
	background: url(hotel3.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

.col-3 {
	width: 33.33%;
}

.col-4 {
	width: 23%;
}
.ab{
	float: left;
	height: 50%;
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 5px;
}

.ab-pic{
	width: 25%;
}

.rooms{
	float: left;
	height: 50%;
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	border-style: solid;
	background-color: pink;
}

.rooms-pic{
	width: 80%;
	border-style: solid;
	border-color: black;
	border-width:2px;
	border
}

.box{
	margin-top: 4%;
	margin-left: 8%;
}
h1{
	color: white;
}